apiVersion: apps/v1
kind: Deployment
metadata:
  name: schema-registry-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: schema-registry
  template:
    metadata:
      labels:
        app: schema-registry
    spec:
      initContainers:
        - name: wait-for-kafka
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for Kafka to be ready..."
              until nc -z kafka-srv 9092; do
                echo "Kafka is not ready yet..."
                sleep 3
              done
              echo "Kafka is up!"
      containers:
        - name: schema-registry
          image: confluentinc/cp-schema-registry:7.6.0
          ports:
            - containerPort: 8081
          env:
            - name: SCHEMA_REGISTRY_HOST_NAME
              value: schema-registry
            - name: SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS
              value: kafka-srv:9092
---
apiVersion: v1
kind: Service
metadata:
  name: schema-registry-srv
spec:
  selector:
    app: schema-registry
  ports:
    - port: 8081
      targetPort: 8081
      name: http
